<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>
        <a href="http://localhost:3000">Main</a>
        <a href="http://localhost:3000/Judy">Judy</a>
        <a href="http://localhost:3000/Johnny">Johnny</a>
        <a href="http://localhost:3000/Panam">Panam</a>
    </h2>
    <h1><%= title %></h1>
    <img src="<%= picture %>" width="500px" alt=""/>
    <h4 style="width: 500px; text-align: justify;">Несколько слов о нашем герое: <%=desc%></h4>
  </body>
</html>