<% layout('./layout/page.ejs')%>
<h2>
  <a href="http://localhost:3000">Main</a>
  <a href="http://localhost:3000/Judy">Judy</a>
  <a href="http://localhost:3000/Johnny">Johnny</a>
  <a href="http://localhost:3000/Panam">Panam</a>
</h2>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>